body {
    margin: 0px;

}
.header {
    background-color: cadetblue;
    padding: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
}

.logo {
    color: snow;
}

#login-form {
    width: 200px;
}

#login-form input{
    margin: 2px;
    margin-left: 2%;
    width: 96%;
    display: block;
    height: 2.3em;
    border: 0;
}

#login-form button {
    margin: 2px;
    margin-left: 2%;
    width: 96%;
    display: block;
    border: 0;
    outline: 0;
    background-color: #FFF;
    color: black;
    border-radius: 15px;
    height: 1.7em;

}

#user-panel  {
    display: none;
}

main {
    margin-top: 115px;
}

article {
    border-bottom: 2px solid #000;
    text-align: center;
}



footer{
    background-color: cadetblue;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
}
.info-bar {
    color: white;
}

.info {
    color: snow;
}

#temp-article-list {
/*    background-color: black; */
    color: black;
    margin-left: 20px;
    padding-bottom: 20px;
}

.article-info {

}